* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  color: #29303b;
  background-color: #fff;
  line-height: 1.43;
}

.btn__white {
  color: #686f7a;
  background-color: #fff;
  font-weight: 600;
  border: 1px solid #505763;
}

.btn__white:hover {
  background-color: rgba(20, 23, 28, 0.05);
  color: #686f7a;
}

.btn__red {
  color: #fff;
  background-color: #ec5252;
  font-weight: 600;
  border: 1px solid #ec5252;
}

.btn__red:hover {
  background-color: #521822;
  color: #fff;
}

header .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__left .navbar-brand {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .header__left .navbar-brand img {
  width: 110px;
}

header .header__left .header__categories {
  color: #505763;
  font-size: 13px;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .header__left .header__categories i {
  margin-right: 10px;
}

header .header__left .formSearch {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

header .header__left .formSearch .form-control {
  background-color: #f2f3f5;
  border: none;
  -webkit-transition: none;
  transition: none;
}

header .header__left .formSearch .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  border-top: 1px solid #cacbcc;
  border-left: 1px solid #cacbcc;
  border-bottom: 1px solid #cacbcc;
}

header .header__left .formSearch .form-control::-webkit-input-placeholder {
  color: #505763;
  font-size: 13px;
  font-weight: 400;
}

header .header__left .formSearch .form-control:-ms-input-placeholder {
  color: #505763;
  font-size: 13px;
  font-weight: 400;
}

header .header__left .formSearch .form-control::-ms-input-placeholder {
  color: #505763;
  font-size: 13px;
  font-weight: 400;
}

header .header__left .formSearch .form-control::placeholder {
  color: #505763;
  font-size: 13px;
  font-weight: 400;
}

header .header__left .formSearch .form-control:focus + .input-group-append .input-group-text {
  color: #ec5252;
  background-color: #fff;
  border-top: 1px solid #cacbcc;
  border-right: 1px solid #cacbcc;
  border-bottom: 1px solid #cacbcc;
}

header .header__left .formSearch .input-group-append .input-group-text {
  background-color: rgba(20, 23, 28, 0.05);
  color: #ec5252;
  border: none;
}

header .header__left .formSearch .input-group-append:hover .input-group-text {
  color: #fff !important;
  background-color: #ec5252 !important;
}

header .header__right .navbar-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header .header__right .navbar-nav .nav-item .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 20px;
}

header .header__right .navbar-nav .nav-item:hover {
  background-color: rgba(20, 23, 28, 0.05);
}

header .header__right .navbar-nav .nav-item button {
  font-size: 15px;
}

header .header__right .navbar-nav .nav-item:nth-child(3) {
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  header .navbar-nav .nav-item__1,
  header .navbar-nav .nav-item__2 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header .header__left .header__categories,
  header .header__left .formSearch {
    display: none;
  }
  header .header__right .btn__white,
  header .header__right .btn__red {
    display: none;
  }
}

.udemyCarousel {
  background-image: url(../img/cover2.png);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.udemyCarousel .udemyCarousel__text {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 30%;
}

.udemyCarousel .udemyCarousel__text h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.udemyCarousel .udemyCarousel__text p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.udemyCarousel .udemyCarousel__text .form-control {
  padding: 25px;
  border: none;
  border-radius: 0;
}

.udemyCarousel .udemyCarousel__text .form-control::-webkit-input-placeholder {
  color: #a1a7b3;
  font-size: 20px;
  font-weight: 400;
}

.udemyCarousel .udemyCarousel__text .form-control:-ms-input-placeholder {
  color: #a1a7b3;
  font-size: 20px;
  font-weight: 400;
}

.udemyCarousel .udemyCarousel__text .form-control::-ms-input-placeholder {
  color: #a1a7b3;
  font-size: 20px;
  font-weight: 400;
}

.udemyCarousel .udemyCarousel__text .form-control::placeholder {
  color: #a1a7b3;
  font-size: 20px;
  font-weight: 400;
}

.udemyCarousel .udemyCarousel__text .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.udemyCarousel .udemyCarousel__text .input-group-append .input-group-text {
  background-color: #fff;
  color: #ec5252;
  border: none;
  border-radius: 0;
  padding: 17px;
}

.udemyCarousel .udemyCarousel__text .input-group-append:hover .input-group-text {
  background-color: #ec5252;
  color: #fff;
}

.intro {
  background: -webkit-gradient(linear, left top, right top, from(#6e1a52), to(#ec5252));
  background: linear-gradient(to right, #6e1a52, #ec5252);
}

.intro .intro-content {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.intro .intro-content .intro-icon {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  margin-right: 20px;
}

.intro .intro-content .icon-content {
  padding: 10px;
}

.intro .intro-content .icon-content p:first-child {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
}

.intro .intro-content .icon-content p:last-child {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.courses {
  margin-top: 30px;
}

.courses .courses_content {
  width: 90%;
  margin: 0 auto;
}

.courses .courses-intro {
  padding-top: 10rem;
}

.courses .courses-intro h2 {
  color: #29303b;
  font-size: 24px;
  font-weight: 600;
}

.courses .courses-tab .nav .nav-item:hover .nav-link {
  border: none;
}

.courses .courses-tab .nav .nav-item .nav-link.active {
  border: none;
  border-bottom: solid 5px #007791;
  padding-bottom: 20px;
}

.courses .courses-tab .nav .nav-item .nav-link {
  color: #29303b;
  font-size: 15px;
  font-weight: 400;
  border: none;
}

.courses .courses-tab .tab-content {
  position: relative;
  margin-top: 20px;
}

.courses .courses-tab .tab-content .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
}

.courses .courses-tab .tab-content .card-text {
  color: #686f7a;
  font-size: 13px;
  font-weight: 400;
}

.courses .courses-tab .tab-content .rating .rating-star {
  color: #f4c150;
  font-size: 13px;
  font-weight: 400;
  margin-right: 2px;
}

.courses .courses-tab .tab-content .rating span:nth-child(2) {
  color: #686f7a;
  font-size: 13px;
  font-weight: 600;
  margin-right: 2px;
}

.courses .courses-tab .tab-content .rating span:last-child {
  color: #686f7a;
  font-size: 13px;
  font-weight: 400;
}

.courses .courses-tab .tab-content .price {
  padding-top: 20px;
  text-align: right;
}

.courses .courses-tab .tab-content .price .old-price {
  color: #686f7a;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}

.courses .courses-tab .tab-content .price .new-price {
  color: #29303b;
  font-size: 20px;
  font-weight: 600;
}

.myStudent {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

.myStudent .student-content {
  margin-bottom: 30px;
}

.myStudent .student-content h3 {
  color: #505763;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.myStudent .student-reason h3 {
  color: #505763;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.myStudent .student-reason h3 a {
  cursor: pointer;
  text-decoration: none;
  color: #007791;
}

.myStudent .student-reason h3 a:hover, .myStudent .student-reason h3 a:focus {
  color: #003845;
  text-decoration: none;
}

.myStudent .student-courses .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
}

.myStudent .student-courses .card-text {
  color: #686f7a;
  font-size: 13px;
  font-weight: 400;
}

.myStudent .student-courses .rating .rating-star {
  color: #f4c150;
  font-size: 13px;
  font-weight: 400;
  margin-right: 2px;
}

.myStudent .student-courses .rating span:nth-child(2) {
  color: #686f7a;
  font-size: 13px;
  font-weight: 600;
  margin-right: 2px;
}

.myStudent .student-courses .rating span:last-child {
  color: #686f7a;
  font-size: 13px;
  font-weight: 400;
}

.myStudent .student-courses .price {
  padding-top: 20px;
  text-align: right;
}

.myStudent .student-courses .price .old-price {
  color: #686f7a;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}

.myStudent .student-courses .price .new-price {
  color: #29303b;
  font-size: 20px;
  font-weight: 600;
}

.myStudent .student-courses .owl-nav {
  display: none;
}

.recommendations {
  margin-top: 30px;
}

.recommendations .banner-top {
  background: linear-gradient(-45deg, #ec5252, #6e1a52);
  height: 8px;
}

.recommendations .banner-content {
  background-color: #29303b;
  height: 352px;
}

.recommendations .banner-content .banner-content__top {
  padding-top: 48px;
  padding-bottom: 32px;
}

.recommendations .banner-content .banner-content__top i {
  color: #fff;
  font-size: 28px;
  margin: 0 8.7%;
}

.recommendations .banner-content .banner-content__mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recommendations .banner-content .banner-content__mid i {
  color: #fff;
  font-size: 28px;
  margin-top: 50px;
}

.recommendations .banner-content .banner-content__mid .mid-content {
  margin: 0 17.5%;
}

.recommendations .banner-content .banner-content__mid .mid-content h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.recommendations .banner-content .banner-content__mid .mid-content p {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: center;
}

.recommendations .banner-content .banner-content__mid .mid-content .btn__red {
  margin-left: 35%;
  font-size: 15px;
  padding: 11px 12px;
  border: none;
  outline: none;
}

.recommendations .banner-content .banner-content__bottom {
  padding-top: 48px;
  padding-bottom: 32px;
}

.recommendations .banner-content .banner-content__bottom i {
  color: #fff;
  font-size: 28px;
  margin: 0 8.7%;
}

@media screen and (max-width: 992px) {
  .recommendations i {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .recommendations .banner-content .banner-content__mid .mid-content h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
}

.topCategories {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.topCategories h1 {
  color: #29303b;
  font-size: 24px;
  font-weight: 600;
}

.topCategories .categories-content .content-detail .content-item {
  -webkit-box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1);
          box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1);
  padding: 15px;
  cursor: pointer;
  margin: 8px 0;
  border: solid 1px rgba(20, 23, 28, 0.1);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.topCategories .categories-content .content-detail .content-item i {
  margin-right: 10px;
}

.topCategories .categories-content .content-detail .content-item:hover {
  -webkit-box-shadow: 0 3px 1px 0 rgba(20, 23, 28, 0.1);
          box-shadow: 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.commentContact {
  background-color: #f7f8fa;
  margin-top: 30px;
}

.commentContact .student {
  width: 90%;
  margin: 0 auto;
  padding: 32px 16px;
}

.commentContact .student .student-title h1 {
  color: #29303b;
  font-size: 24px;
  font-weight: 600;
}

.commentContact .student .student-title .student-comment .comment {
  margin-top: 20px;
  padding: 32px;
  background-color: #fff;
  border: solid 1px rgba(20, 23, 28, 0.1);
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(20, 23, 28, 0.1);
          box-shadow: 0 1px 3px 0 rgba(20, 23, 28, 0.1);
}

.commentContact .student .student-title .student-comment .comment img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.commentContact .student .student-title .student-comment .comment span {
  margin-left: 15px;
  margin-top: 15px;
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
}

.commentContact .student .student-title .student-comment .comment p {
  margin-top: 25px;
  color: #29303b;
  font-size: 15px;
  font-weight: 400;
}

.commentContact .student .student-title .student-comment .owl-nav {
  display: none;
}

.commentContact .logo-contact {
  width: 90%;
  height: 380px;
  margin: 0 auto;
}

.commentContact .logo-contact p {
  text-align: center;
  color: #686f7a;
  font-size: 15px;
  font-weight: 400;
}

.commentContact .logo-contact .partner_logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 24px;
}

.commentContact .logo-contact .partner_logos img {
  width: 151px;
  height: 26px;
}

.commentContact .logo-contact .become-intro .become-content {
  text-align: center;
  padding: 28px 30px;
}

.commentContact .logo-contact .become-intro .become-content h2 {
  color: #29303b;
  font-size: 20px;
  font-weight: 600;
}

.commentContact .logo-contact .become-intro .become-content p {
  padding-top: 3px;
  color: #29303b;
  font-size: 15px;
  font-weight: 400;
}

.commentContact .logo-contact .become-intro .become-content button {
  margin-top: 15px;
  font-size: 15px;
  padding: 11px 12px;
  border: none;
  outline: none;
}

.commentContact .logo-contact .become-intro .become--content__1 {
  border-right: 1px solid #dedfe0;
}

.footer {
  margin-top: 20px;
}

.footer .footer-content {
  width: 90%;
  margin: 0 auto;
}

.footer .footer-content h1,
.footer .footer-content h2 {
  color: #007791;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 12px;
  cursor: pointer;
}

.footer .footer-content h1:hover,
.footer .footer-content h2:hover {
  color: #003845;
}

.footer .footer-content p {
  color: #007791;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 12px;
  cursor: pointer;
}

.footer .footer-content p:hover {
  color: #003845;
}

@media screen and (max-width: 768px) {
  .footer .footer-content h1,
  .footer .footer-content p {
    display: none;
  }
}

.footer .footer-logo {
  margin-top: 30px;
  border-top: 1px solid #dedfe0;
  border-bottom: 6px solid #ec5252;
}

.footer .footer-logo .img-logo {
  text-align: left;
}

.footer .footer-logo .img-logo img {
  width: 110px;
  height: 32px;
}

.footer .footer-logo .img-logo p {
  color: #686f7a;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 15px;
}

.footer .footer-logo .logo-detail .logo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footer-logo .logo-detail .logo-content p {
  margin-left: 15px;
  color: #007791;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.footer .footer-logo .logo-detail .logo-content p:hover {
  color: #003845;
}

.owl-carousel .owl-nav {
  display: block !important;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 33%;
  left: -3%;
  padding: 0;
  width: 45px;
  height: 45px;
  border-radius: 50% !important;
  background-color: #fff !important;
  -webkit-box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
          box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
  z-index: 3;
}

.owl-carousel .owl-nav .owl-prev span,
.owl-carousel .owl-nav .owl-next span {
  color: #007791;
  font-size: 40px;
  font-weight: 400;
  line-height: 0.6;
}

.owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-next:focus {
  outline: none;
}

.owl-carousel .owl-nav .owl-next {
  left: unset;
  right: -3%;
}
/*# sourceMappingURL=main.css.map */