@function getBreakpoint($bk) {
  @if map-has-key($map: $breakpoints, $key: $bk) {
    @return map-get($map: $breakpoints, $key: $bk);
  } @else {
    @warn "Your breakpoint is invalid.";
  }
}

@function spacing($num) {
  @return $num * $default-spacing;
}
