@mixin text($cl, $fs, $fw) {
  color: $cl;
  font-size: $fs;
  font-weight: $fw;
}

@mixin button($cl, $bg-color, $fw, $border-color, $bg-color-hover, $cl-hover) {
  color: $cl;
  background-color: $bg-color;
  font-weight: $fw;
  border: 1px solid $border-color;
  &:hover {
    background-color: $bg-color-hover;
    color: $cl-hover;
  }
}

@mixin respond-to($breakpoint) {
  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    $value: map-get(
      $map: $breakpoints,
      $key: $breakpoint,
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "${breakpoint} không tồn tại trong breakpoints";
  }
}
