.owl-carousel {
  .owl-nav {
    display: block !important;

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 33%;
      left: -3%;
      padding: 0;
      width: 45px;
      height: 45px;
      border-radius: 50% !important;
      background-color: $color-white-0 !important;
      box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
      z-index: 3;
      span {
        @include text($color-blue, $fs-4, $fw-regular);
        line-height: 0.6;
      }
      &:focus {
        outline: none;
      }
    }

    .owl-next {
      left: unset;
      right: -3%;
    }
  }
}
