.topCategories {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  h1 {
    @include text($color-black-0, $fs-3, $fw-bold);
  }
  .categories-content {
    .content-detail {
      .content-item {
        box-shadow: 0 0 1px 1px $color-black-dark;
        padding: 15px;
        cursor: pointer;
        margin: 8px 0;
        border: solid 1px $color-black-dark;
        transition: all .5s;
        i {
          margin-right: 10px;
        }
        &:hover {
          box-shadow: 0 3px 1px 0 $color-black-dark;
        }
      }
    }
  }
}
