.commentContact {
  background-color: $color-gray-5;
  margin-top: 30px;
  .student {
    width: 90%;
    margin: 0 auto;
    padding: 32px 16px;
    .student-title {
      h1 {
        @include text($color-black-0, $fs-3, $fw-bold);
      }
      .student-comment {
        .comment {
          margin-top: 20px;
          padding: 32px;
          background-color: $color-white-0;
          border: solid 1px $color-black-dark;
          border-radius: 3px;
          box-shadow: 0 1px 3px 0 $color-black-dark;
          img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
          }
          span {
            margin-left: 15px;
            margin-top: 15px;
            @include text($color-black-0, $fs-0, $fw-bold);
          }
          p {
            margin-top: 25px;
            @include text($color-black-0, $fs-0, $fw-regular);
          }
        }
        .owl-nav {
          display: none;
        }
      }
    }
  }

  .logo-contact {
    width: 90%;
    height: 380px;
    margin: 0 auto;
    p {
      text-align: center;
      @include text($color-gray-4, $fs-0, $fw-regular);
    }
    .partner_logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 32px;
      padding-bottom: 24px;
      img {
        width: 151px;
        height: 26px;
      }
    }
    .become-intro {
      .become-content {
        text-align: center;
        padding: 28px 30px;
        h2 {
          @include text($color-black-0, $fs-2, $fw-bold);
        }
        p {
          padding-top: 3px;
          @include text($color-black-0, $fs-0, $fw-regular);
        }
        button {
            margin-top: 15px;
            font-size: $fs-0;
            padding: 11px 12px;
            border: none;
            outline: none;
        }
      }
      .become--content__1{
          border-right: 1px solid #dedfe0;
      }
    }
  }
}
