.courses {
  margin-top: 30px;
  .courses_content {
    width: 90%;
    margin: 0 auto;
  }
  .courses-intro {
    padding-top: 10rem;
    h2 {
      @include text($color-black-0, $fs-3, $fw-bold);
    }
  }

  .courses-tab {
    .nav {
      .nav-item {
        &:hover {
          .nav-link {
            border: none;
          }
        }
        .nav-link.active {
          border: none;
          border-bottom: solid 5px $color-blue;
          padding-bottom: $pd-2;
        }
        .nav-link {
          @include text($color-black-0, $fs-0, $fw-regular);
          border: none;
        }
      }
    }

    .tab-content {
      position: relative;
      margin-top: 20px;
      .card-title {
        @include text($color-black-0, $fs-0, $fw-bold);
      }
      .card-text {
        @include text($color-gray-4, $fs-1, $fw-regular);
      }
      .rating {
        .rating-star {
          @include text($color-yellow, $fs-1, $fw-regular);
          margin-right: 2px;
        }
        span:nth-child(2) {
          @include text($color-gray-4, $fs-1, $fw-bold);
          margin-right: 2px;
        }
        span:last-child {
          @include text($color-gray-4, $fs-1, $fw-regular);
        }
      }
      .price {
        padding-top: $pd-2;
        text-align: right;
        .old-price {
          @include text($color-gray-4, $fs-1, $fw-regular);
          text-decoration: line-through;
        }
        .new-price {       
          @include text($color-black-0, $fs-2, $fw-bold);
        }
      }
    }
  }
}
