.footer {
  margin-top: 20px;
  .footer-content {
    width: 90%;
    margin: 0 auto;
    h1,
    h2 {
      @include text($color-blue, $fs-1, $fw-bold);
      margin-bottom: 12px;
      cursor: pointer;
      &:hover {
        color: #003845;
      }
    }
    p {
      @include text($color-blue, $fs-1, $fw-regular);
      margin-bottom: 12px;
      cursor: pointer;
      &:hover {
        color: #003845;
      }
    }

    @include respond-to("medium") {
      h1,
      p {
        display: none;
      }
    }
  }

  .footer-logo {
    margin-top: 30px;
    border-top: 1px solid #dedfe0;
    border-bottom: 6px solid $color-red-0;
    .img-logo {
      text-align: left;
      img {
        width: 110px;
        height: 32px;
      }
      p {
        @include text($color-gray-4, $fs-1, $fw-regular);
        margin-bottom: 0;
        margin-left: 15px;
      }
    }
    .logo-detail {
      .logo-content {
        display: flex;
        justify-content: flex-end;
        p {
          margin-left: 15px;
          @include text($color-blue, $fs-1, $fw-regular);
          cursor: pointer;
          &:hover {
            color: #003845;
          }
        }
      }
    }
  }
}
