header {
  .header__left {
    display: flex;
    align-items: center;
    .navbar-brand {
      flex-grow: 1;
      img {
        width: 110px;
      }
    }
    .header__categories {
      @include text($color-black-light, $fs-1, $fw-regular);
      flex-grow: 1;
      i {
        margin-right: 10px;
      }
    }
    .formSearch {
      flex-grow: 6;
      .form-control {
        background-color: $color-white-cream;
        border: none;
        transition: none;
        // Parent selector
        &:focus {
          box-shadow: none;
          background-color: $color-white-0;
          border-top: 1px solid $color-gray-3;
          border-left: 1px solid $color-gray-3;
          border-bottom: 1px solid $color-gray-3;
        }
        &::placeholder {
          @include text($color-black-light, $fs-1, $fw-regular);
        }
        &:focus + .input-group-append {
          .input-group-text {
            color: $color-red-0;
            background-color: $color-white-0;
            border-top: 1px solid $color-gray-3;
            border-right: 1px solid $color-gray-3;
            border-bottom: 1px solid $color-gray-3;
          }
        }
      }
      .input-group-append {
        .input-group-text {
          background-color: $color-gray-1;
          color: $color-red-0;
          border: none;
        }
        &:hover {
          .input-group-text {
            color: $color-white-0 !important;
            background-color: $color-red-0 !important;
          }
        }
      }
    }
  }

  .header__right {
    .navbar-nav {
      justify-content: space-between;
      width: 100%;
      .nav-item {
        .nav-link {
          @include text($color-black-light, $fs-1, $fw-regular);
          padding: $pd-1 $pd-2;
        }
        &:hover {
          background-color: $color-gray-1;
        }
        button {
          font-size: $fs-0;
        }
      }
      .nav-item:nth-child(3) {
        border-radius: 50%;
      }
    }
  }

  @include respond-to("extra-large") {
    .navbar-nav {
      .nav-item__1,
      .nav-item__2 {
        display: none;
      }
    }
  }

  @include respond-to("medium") {
    .header__left {
      .header__categories,
      .formSearch {
        display: none;
      }
    }
    .header__right {
      .btn__white,
      .btn__red {
        display: none;
      }
    }
  }
}
