.intro {
  background: linear-gradient(to right, $color-purple, $color-red-0);
  .intro-content {
    width: 90%;
    margin: 0 auto;
    padding: $pd-1;
    .intro-icon {
      @include text($color-white-0, 48px, $fw-bold);
      margin-right: 20px;
    }
    .icon-content {
      padding: $pd-1;
      p:first-child {
        @include text($color-white-0, $fs-0 + 2, $fw-bold);
        margin-bottom: 0;
      }
      p:last-child {
        @include text($color-white-0, $fs-0, $fw-regular);
      }
    }
  }
}
