.recommendations {
  margin-top: 30px;
  .banner-top {
    background: linear-gradient(-45deg, $color-red-0, $color-purple);
    height: 8px;
  }
  .banner-content {
    background-color: $color-black-0;
    height: 352px;
    .banner-content__top {
      padding-top: 48px;
      padding-bottom: 32px;
      i {
        color: $color-white-0;
        font-size: 28px;
        margin: 0 8.7%;
      }
    }
    .banner-content__mid {
      display: flex;
      justify-content: center;
      i {
        color: $color-white-0;
        font-size: 28px;
        margin-top: 50px;
      }
      .mid-content {
        margin: 0 17.5%;
        h2 {
          @include text($color-white-0, $fs-3, $fw-bold);
          margin-bottom: 16px;
        }
        p {
          @include text($color-white-0, $fs-0, $fw-regular);
          margin-bottom: 24px;
          text-align: center;
        }
        .btn__red {
          margin-left: 35%;
          font-size: $fs-0;
          padding: 11px 12px;
          border: none;
          outline: none;
        }
      }
    }
    .banner-content__bottom {
      padding-top: 48px;
      padding-bottom: 32px;
      i {
        color: $color-white-0;
        font-size: 28px;
        margin: 0 8.7%;
      }
    }
  }

  @include respond-to("large") {
    i {
      display: none;
    }
  }

  @include respond-to("small") {
    .banner-content {
      .banner-content__mid {
        .mid-content {
          h2 {
            @include text($color-white-0, $fs-2, $fw-bold);
            text-align: center;
          }
        }
      }
    }
  }
}
