.myStudent {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  .student-content {
    margin-bottom: 30px;
    h3 {
      @include text($color-black-light, $fs-2, $fw-regular);
      margin-bottom: 10px;
    }
  }
  .student-reason {
    h3 {
      @include text($color-black-light, $fs-2, $fw-regular);
      margin-bottom: 10px;
      a {
        cursor: pointer;
        text-decoration: none;
        color: $color-blue;
        &:hover,
        &:focus {
          color: rgb(0, 56, 69);
          text-decoration: none;
        }
      }
    }
  }
  .student-courses {
    .card-title {
      @include text($color-black-0, $fs-0, $fw-bold);
    }
    .card-text {
      @include text($color-gray-4, $fs-1, $fw-regular);
    }
    .rating {
      .rating-star {
        @include text($color-yellow, $fs-1, $fw-regular);
        margin-right: 2px;
      }
      span:nth-child(2) {
        @include text($color-gray-4, $fs-1, $fw-bold);
        margin-right: 2px;
      }
      span:last-child {
        @include text($color-gray-4, $fs-1, $fw-regular);
      }
    }
    .price {
      padding-top: $pd-2;
      text-align: right;
      .old-price {
        @include text($color-gray-4, $fs-1, $fw-regular);
        text-decoration: line-through;
      }
      .new-price {
        @include text($color-black-0, $fs-2, $fw-bold);
      }
    }
    .owl-nav {
      display: none;
    }
  }
}
