.udemyCarousel {
  background-image: url(../img/cover2.png);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  // flex-direction: column;
  // justify-content: center;
  .udemyCarousel__text {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 30%;
    h1 {
      @include text($color-white-0, $fs-4, $fw-bold);
    }
    p {
      @include text($color-white-0, $fs-2 - 2, $fw-regular);
    }
    .form-control {
      padding: $pd-2 + 5;
      border: none;
      border-radius: 0;
      &::placeholder {
        @include text($color-gray-2, $fs-2, $fw-regular);
      }
      &:focus {
        box-shadow: none;
      }
    }
    .input-group-append {
      .input-group-text {
        background-color: $color-white-0;
        color: $color-red-0;
        border: none;
        border-radius: 0;
        padding: $fs-1 + 4;
      }
      &:hover {
        .input-group-text {
          background-color: $color-red-0;
          color: $color-white-0;
        }
      }
    }
  }
}
